#test1{
    padding: 100px;
}
#test2{
    padding-top: 50px;
    padding-left: 100px;
}
#test3{
    /* padding: 50px 20px 10px 0px;    위 오른쪽 아래 왼쪽 */
    padding: 50px 20px; /*위 아래 왼쪽 오른쪽*/
}

/* margin */
#test4{
    margin: 50px;
}
#test5{
    margin-top: 50px;
    margin-left: 100;
}
#test6{
    /* margin: 50px 20px 10px 0px */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    /* top, bottom은 auto가 적용이 안됨 */
    margin: auto;
    /* margin : auto; 화면 크기가 변화해도 좌우 간격을 자동으로 가운데로 맞춰줌 */
}